header {
    background-color:white;
    color:white;
}

body {
    background-color:white;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-size:18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a {
    float:left;
    padding:10px 25px 30px 20px;
    background: blue; 
}

#bier
{
    color: black;
    margin-right: 500px;
    margin-top: 20px;
    clear: right;
    position: absolute;
    margin-left: 500px;
}
#biertje{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}
.informatie{
    margin-right: 1px;
    margin-top: 100px;
    margin-bottom:100px;
}

.missie{
    margin-right: 500px;
    float:left;
    
    
}
.hunmissie{
    float:right;
}

#email{
    width: 40px;
    min-height: 10x;
    float: left;
    margin-left: 10px;
}

#plaatsaanduiding{
    width: 40px;
    min-height: 10x;
    float: left;
    margin-left: 10px;
}

#website{
    width: 40px;
    min-height: 10x;
    float: left;
    margin-left: 10px;
}
article {
    margin-left: 10px;
    margin-right: 10px;
    
    padding: 10px;
    width: 90%;
    color: black;
    background-color: rgb(236, 237, 243);
    
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#notremission{
    text-align: left;
    margin-left: 20px;
}
#th{
    text-align:center;
    text-align: left;
    margin-left: 20px;
}

.middlerow{
    border-left: 2px solid black;
    padding: 10px;
    margin-top: 4px;
}

.outside{
  
    padding: 10px;
    margin-top: 4px;
}

#contactfrans{
    text-align: left;
    margin-left: 20px;
}
.tabelfrans{
    font-weight: 500px;
    
}

section {
    right: 630px;
    display: inline;
    position: absolute;
    top: 200px;
    font-size: 30px;
}

#mezelf_ecover{
    color: black;
    margin-right: 700px;
    /*text-align: justify;*/
    clear: right;
    position: absolute;
    margin-left: 15px;  
}
#index
{
    width:1400px;
}


#logo{
    position: left;
    text-align: left;
    font-size: 30px;
    width: 1000px;
}

.immalle{
    float: right;
    margin-right: 50px;
}
#logo
{
    width: 100px;
    float: right;
}
.space{
    height:200px;
}
.space2{
    height:70px
}  
.space3{
    height:35px;
} 
.space4{
    height: 10px;
}

#namen
{
    margin-top: 50px;
    color: black;
}
.afpro
{
    margin-top: 50px;
    color: black;
}
#huishouden
{
    margin-left: 100px;
}

#wasmiddel
{
    margin-left: 100px;
}
#persoonlijkeverzorging
{
    margin-left: 100px;
}
.bg-img {
    background-image: url("ecover.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

#tabel{
    width: 90%;
    color: black;
    margin: auto;
    text-align:justify;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 90px;
    
}
.afpro
{
    margin-top: 2px;
    margin-right: 4px;
    width: 20px;

}
.topnav {
    overflow: hidden;
    background-color: rgb(22, 22, 141);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: white;
    color:black;
}

.active {
    background-color: red;
    color:green;
}






input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
 
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    background-color: #f2f2f2;
    float: left;
    min-height: 100x;
    width:50%;
    margin: 20px;
    padding:3px;
    background-color: white;;
  }

  #map{
      float:right;
    padding: 25px;
     
  }

  .bg-Contact{
      background-color: white;
  }